.finder-heading {
    padding: .75em;
    font: 3.5em "Bodoni Moda";
    background-color: #0C4559; 
    text-align: center;
    color: #8BDE8B;

}

 
  .grid-container {
    list-style: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  .dog-grid {
    display: grid; /* Enable grid layout */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid with minimum width 300px */
    grid-gap: 10px; /* Spacing between cards */
    margin: 0;
    padding: 0;
  }
  
  .dog-profile {
    background-color: #fff; /* Set background color for cards */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    border-radius: 5px; /* Add rounded corners */
    overflow: hidden; /* Clip content within card boundaries */
  }
  
  .mat-card-title {
    padding: 10px; /* Adjust padding for content spacing */
    font-weight: bold; /* Make breed name stand out */
  }
  
  .dog-card-container {
    display: flex; /* Enable flexbox for image layout */
    align-items: center; /* Align image vertically within card */
    justify-content: center; /* Center image horizontally */
    height: 200px; /* Set image container height (adjust as needed) */
  }
  
  .mat-card-xl-image {
    width: 100%; /* Stretch image to fill container width */
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
  }