<!-- <mat-toolbar color="primary"> -->
  <h1 class="finder-heading">What's Your Perfect Pup?
  </h1>
  <span class="spacer"></span>
  <!-- <button (click)="search('')">pets</button> -->
<!-- </mat-toolbar> -->

<mat-form-field>
  <input matInput type="text" [(ngModel)]="searchText" placeholder="Search for a dog breed">
</mat-form-field>
<!-- <div *ngIf="searchText">
  <ul>
    <li *ngFor="let breed of search(searchText)">
    <button [routerLink]="['/dogdetails', breed.index]"> 
      <div class="dog-profile">
        <mat-card-title>{{breed.name}}</mat-card-title>
        <div class="dog-card-container">
        <mat-card>
            <mat-card-title-group>
                <img mat-card-xl-image src="{{breed.image}}"/>
            </mat-card-title-group>
        </mat-card>
        </div>
      </div>
      </button>    
      </li>
  </ul>
</div> -->

<div *ngIf="searchText" class="dog-grid">
    <li *ngFor="let breed of search(searchText)">
      <button [routerLink]="['/dogdetails', breed.index]">
        <div class="dog-profile">
          <mat-card-title>{{breed.name}}</mat-card-title>
          <div class="dog-card-container">
            <mat-card>
              <mat-card-title-group>
                <img mat-card-xl-image src="{{breed.image}}" />
              </mat-card-title-group>
            </mat-card>
          </div>
        </div>
      </button>
    </li>
</div>

<!-- <div class="dog-profile">
  <div class="dog-card-container">
      <mat-card class="dog-card">
                  <mat-card-title>About the Breed</mat-card-title>
          <img mat-card-image src="{{dog.image_link}}"/>
              <mat-card-title-group>
                  <mat-card-subtitle>
                      {{ dog | dogAge }}
                      {{ dog | dogHeight }}
                  </mat-card-subtitle>
              </mat-card-title-group>
      </mat-card>
  </div> -->