<div
  class="matcher-result"
  *ngIf="getSkinTypeMatch(selectedSkinType).length > 0"
>
<div class="matcher-result-heading">
  <h1>{{ selectedSkinType }} skin</h1>
  <div *ngIf="getSkinTypeMatch(selectedSkinType).length > 1" >
    <p>These are your best matches!</p>
  </div>
  <div class="router-buttons">
  <button mat-raised-button [routerLink]="['/matcher']">Back to Matcher</button>
  <button mat-raised-button [routerLink]="['/dogfinder']">Find Other Dogs</button>
</div>
</div>
<div>
<div class="carousel-buttons">
<button mat-icon-button class="slick-prev-arrow" (click)="slickModal.slickPrev()">
  <mat-icon>arrow_back</mat-icon>
</button>
<span>spacer</span>
<button mat-icon-button class="slick-next-arrow" (click)="slickModal.slickNext()">
  <mat-icon>arrow_forward</mat-icon></button>
</div>

  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div
      class="dog-profile"
      *ngFor="let dog of getSkinTypeMatch(selectedSkinType)"
      ngxSlickItem
    >
      <div class="dog-card-container">
        <mat-card class="dog-card">
       
         
          <mat-card-title>{{ dog.name }}</mat-card-title>
          <div class="image-container"> 
          <img mat-card-xl-image src="{{ dog.image_link }}" /></div>
          <div *ngIf="getSkinTypeMatch(selectedSkinType).length === 1">
            <mat-card-subtitle>This is your best match!</mat-card-subtitle>
          </div>
          <mat-card-subtitle class="skin-informaton">{{ dog | dogAttributes }} </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
